<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bienbenidos a Api-Portafolios </p>
    <h2>Por favor copie esta Consulta para saber de mis Skills e ingrese a:</h2>
    <p>Consulta:<br>
        {<br>
            Technology{<br>
             nameSkill<br>
             description<br>
             experience<br>
           }<br>
         }<br>
         
    </p>
    <h2>URL API</h2>
    <a href="/graphql">localhost:3000/graphql</a>
  </body>
</html>
